body {
  min-height: 100%;
  padding-top: 45px;
}

.navbar-brand {
  color: #3E9A3A !important;
}

.texte {
  padding: 20px 5%;
  margin: auto;
}

.texte h1 {
  text-transform: uppercase;
  border-bottom: 1px solid #3E9A3A;
}

.texte table {
  font-size: 20px;
}

.bande {
  background-color: #3E9A3A;
  padding: 75px 0;
}

.bande p {
  width: 80%;
  margin: auto;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: white;
}

.footer {
  background-color: #3E9A3A;
  padding: 20px 0;
}

.footer p {
  width: 80%;
  margin: auto;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: white;
}

.carousel {
  background-color: black;
}

.carousel .carousel-inner{
  height: 500px;
}

.carousel img {
  width: 100%;
  opacity: 0.4;
}

.carousel .carousel-caption {
  top: 200px;
}

.illustration {
    height: 400px;
}

.illustration img {
  position: relative;
  width: 100%;
  height: 100%;
}

.alertes {
  padding-top: 10px;
}

.alert {
  margin-bottom: 5px;
}
