<div class="row">
  <div class="bande">
    <p>Adoptez une nouvelle façon d'avancer !</p>
  </div>
</div>

<div class="row">
  <div class="carousel">
    <uib-carousel interval="5000">
      <uib-slide ng-repeat="slide in slides">
        <img ng-src="{{slide.image}}">
        <div class="carousel-caption">
          <h1>{{slide.titre}}</h1>
          <p>{{slide.texte}}</p>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>
</div>

<div class="row">
  <div class="bande">
    <p>Une voiture entretenue et un conducteur conseillé pour seulement 30€ par mois.</p>
  </div>
</div>

<div id="forfaits" class="row">
  <div class="col-md-12 texte">
    <h1>Nos Forfaits</h1>
    <p>Avec nos forfaits d'entretien tout compris, vous êtes sûrs que votre voiture sera bien entretenue et prête à rouler en toute sécurité. L'assistance incluse vous permet de contacter les professionnels euromaster à tout moment pour vous conseiller.</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Catégorie</th>
          <th>jusuq'à 7500 km/an</th>
          <th>jusuq'à 15000 km/an</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>A</td>
          <td>30€/mois</td>
          <td>35€/mois</td>
          <td><button type="button" class="btn btn-xs btn-info">Commander</button></td>
        </tr>
        <tr>
          <td>B</td>
          <td>35€/mois</td>
          <td>40€/mois</td>
          <td><button type="button" class="btn btn-xs btn-info">Commander</button></td>
        </tr>
        <tr>
          <td>B diesel</td>
          <td>40€/mois</td>
          <td>45€/mois</td>
          <td><button type="button" class="btn btn-xs btn-info">Commander</button></td>
        </tr>
      </tbody>
    </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12 texte">
        <h1>Dans le détail</h1>
        <h3>Dans tous les forfaits</h3>
        Tous les forfaits d'entretien Dwivy® comprennent les révisions annuelles, le remplacement des pièces d'usures ainsi qu'une assistance en cas de panne. Votre budget
        est maitrisé et vous n'avez plus à renoncer à un entretien trop cher. L'entretien comprend entre autres les révision, les pneumatiques, le freinage, la distribuetion, l'échappement ainsi
        que les contrôles de pollution.
        <h3>Le forfait catégorie A</h3>
        Le forfait de catégorie A est le plus économique. Il est destiné aux véhicules essence de type Renault Twingo, Peugeot 107/108, Citroen C1,
        Toyota Aygo, Volkswagen Up!, Hyundai i10 et similaires. Ces véhicules économiques à l'achat sont idéals pour une utilisation urbaine et péri-urbaine.
        Avec un forfait à partir de 30€ par mois, entretenir son véhicule n'a jamais été aussi accessible.
        <h3>Le forfait catégorie B</h3>
        Ce forfait est destiné aux véhicules essence polyvalents de type Renault Clio, Peugeot 208, Citroen C3, Ford fiesta, Volkswagen Polo et similaires.
        Aussi à l'aise en ville que sur route, ces véhicules sont idéaux pour les jeunes conducteurs mobiles. Leur habitabilité les rends idéaux pour un usage en covoiturage.
        Proposé à partir de 35€ par mois, ce forfait est la garantie d'avoir un véhicule toujours prêt à voyager en toute sécurité.
        <h3>Le forfait catégorie B diesel</h3>
        Le forfait de catégorie B est aussi proposé pour les véhicules diesel à partir de 40€ par mois. Il ajoute un entretien spécialisé à ce type de moteurs, vous assurant une prévention
        des risques d'encrassement de votre moteur. Grâce à un écodiagnostique réalisé chaque année, nos techniciens euromasteur seront à même de mesurer l'encrassement de vos
        injecteurs et de votre filtre à particules, afin de les nettoyer si necessaire. Ceci vous permet d'éviter de lourdes pannes immobilisantes.
        <h3>Les options</h3>
        Vous pouvez personnaliser votre forfait Dwivy® en fonction de vos habitudes de conduite. Par exemple, vous pouvez souscrire à une offre de pneus toutes saisons ou de roues
        hiver. Par ailleurs, vous pouvez adapter votre forfait à la tailles de vos roues, ou ajouter une option contrôle technique.
    </div>
  </div>

<div class="row">
  <div class="bande">
    <p>Une gamme de services complète et des professionnels à votre écoute.</p>
  </div>
</div>

<div class="row">
  <div class="illustration">
    <img src="/assets/img/mechanic.jpg"/>
  </div>
</div>

<div id="services" class="row">
  <div class="col-md-12 texte">
      <h1>Nos différents services</h1>
      <h3>Une assitance</h3>
      Tous les forfaits d'entretien Dwivy® comprennent les révisions annuelles, le remplacement des pièces d'usures ainsi qu'une assistance en cas de panne. Votre budget
      est maitrisé et vous n'avez plus à renoncer à un entretien trop cher. L'entretien comprend entre autres les révision, les pneumatiques, le freinage, la distribuetion, l'échappement ainsi
      que les contrôles de pollution.
      <h3>Les pneumatiques</h3>
      Le forfait de catégorie A est le plus économique. Il est destiné aux véhicules essence de type Renault Twingo, Peugeot 107/108, Citroen C1,
      Toyota Aygo, Volkswagen Up!, Hyundai i10 et similaires. Ces véhicules économiques à l'achat sont idéals pour une utilisation urbaine et péri-urbaine.
      Avec un forfait à partir de 30€ par mois, entretenir son véhicule n'a jamais été aussi accessible.
      <h3>Le freinage</h3>
      Ce forfait est destiné aux véhicules essence polyvalents de type Renault Clio, Peugeot 208, Citroen C3, Ford fiesta, Volkswagen Polo et similaires.
      Aussi à l'aise en ville que sur route, ces véhicules sont idéaux pour les jeunes conducteurs mobiles. Leur habitabilité les rends idéaux pour un usage en covoiturage.
      Proposé à partir de 35€ par mois, ce forfait est la garantie d'avoir un véhicule toujours prêt à voyager en toute sécurité.
      <h3>Les liaisons au sol</h3>
      Le forfait de catégorie B est aussi proposé pour les véhicules diesel à partir de 40€ par mois. Il ajoute un entretien spécialisé à ce type de moteurs, vous assurant une prévention
      des risques d'encrassement de votre moteur. Grâce à un écodiagnostique réalisé chaque année, nos techniciens euromasteur seront à même de mesurer l'encrassement de vos
      injecteurs et de votre filtre à particules, afin de les nettoyer si necessaire. Ceci vous permet d'éviter de lourdes pannes immobilisantes.
      <h3>Les Révisions</h3>
      Tous les forfaits d'entretien Dwivy® comprennent les révisions annuelles, le remplacement des pièces d'usures ainsi qu'une assistance en cas de panne. Votre budget
      est maitrisé et vous n'avez plus à renoncer à un entretien trop cher. L'entretien comprend entre autres les révision, les pneumatiques, le freinage, la distribuetion, l'échappement ainsi
      que les contrôles de pollution.
      <h3>Les contrôles de pollution</h3>
      Le forfait de catégorie A est le plus économique. Il est destiné aux véhicules essence de type Renault Twingo, Peugeot 107/108, Citroen C1,
      Toyota Aygo, Volkswagen Up!, Hyundai i10 et similaires. Ces véhicules économiques à l'achat sont idéals pour une utilisation urbaine et péri-urbaine.
      Avec un forfait à partir de 30€ par mois, entretenir son véhicule n'a jamais été aussi accessible.
      <h3>L'échappement</h3>
      Ce forfait est destiné aux véhicules essence polyvalents de type Renault Clio, Peugeot 208, Citroen C3, Ford fiesta, Volkswagen Polo et similaires.
      Aussi à l'aise en ville que sur route, ces véhicules sont idéaux pour les jeunes conducteurs mobiles. Leur habitabilité les rends idéaux pour un usage en covoiturage.
      Proposé à partir de 35€ par mois, ce forfait est la garantie d'avoir un véhicule toujours prêt à voyager en toute sécurité.
      <h3>L'embrayage</h3>
      Le forfait de catégorie B est aussi proposé pour les véhicules diesel à partir de 40€ par mois. Il ajoute un entretien spécialisé à ce type de moteurs, vous assurant une prévention
      des risques d'encrassement de votre moteur. Grâce à un écodiagnostique réalisé chaque année, nos techniciens euromasteur seront à même de mesurer l'encrassement de vos
      injecteurs et de votre filtre à particules, afin de les nettoyer si necessaire. Ceci vous permet d'éviter de lourdes pannes immobilisantes.
      <h3>Tout le reste</h3>
      Le forfait de catégorie B est aussi proposé pour les véhicules diesel à partir de 40€ par mois. Il ajoute un entretien spécialisé à ce type de moteurs, vous assurant une prévention
      des risques d'encrassement de votre moteur. Grâce à un écodiagnostique réalisé chaque année, nos techniciens euromasteur seront à même de mesurer l'encrassement de vos
      injecteurs et de votre filtre à particules, afin de les nettoyer si necessaire. Ceci vous permet d'éviter de lourdes pannes immobilisantes.
  </div>
  </div>

<div class="row">
  <div class="bande">
    <p>À proximité de chez vous, partout en Europe.</p>
  </div>
</div>

<div class="row">
  <div class="illustration">
    <img src="/assets/img/reseau.jpg"/>
  </div>
</div>

<div id="reseau" class="row">
  <div class="col-md-12 texte">
      <h1>Notre réseau</h1>
      <h3>Un réseau de professionnels partout en Europe</h3>
      Tous les forfaits d'entretien Dwivy® comprennent les révisions annuelles, le remplacement des pièces d'usures ainsi qu'une assistance en cas de panne. Votre budget
      est maitrisé et vous n'avez plus à renoncer à un entretien trop cher. L'entretien comprend entre autres les révision, les pneumatiques, le freinage, la distribuetion, l'échappement ainsi
      que les contrôles de pollution.
    </div>
</div>

<div class="row">
  <div class="footer">
    <p>Copyright © 2015 Euromaster </p>
  </div>
</div>
