<div class="row">
  <div class="bande">
    <p>Adoptez une nouvelle façon d'avancer !</p>
  </div>
</div>

<div class="row">
  <div class="carousel">
    <uib-carousel interval="5000">
      <uib-slide ng-repeat="slide in slides">
        <img ng-src="{{slide.image}}">
        <div class="carousel-caption">
          <h1>{{slide.titre}}</h1>
          <p>{{slide.texte}}</p>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>
</div>

<div class="row">
  <div class="bande">
    <p>Une voiture entretenue et un conducteur conseillé pour seulement <span class="jaune">30€</span> par mois.</p>
  </div>
</div>

<div id="forfaits" class="row">
    <div class="col-md-12 texte">
      <h1>Nos Forfaits</h1>
      <p>Disponibles pour tous les véhicules de plus de trois ans, les forfaits d'entretien Dwivi® tout compris vous assurent une voiture
        bien entretenue et prête à rouler en toute sécurité. L'assistance incluse vous permet de contacter les professionnels euromaster à tout
        moment pour vous conseiller. Les forfaits Dwivi® sont la solution économique pour les acheteurs de véhicules d'occasion qui souhaitent
        maîtriser leur budget.</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Catégorie</th>
            <th>jusqu'à 7500 km/an</th>
            <th>jusqu'à 15000 km/an</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span>Starter<span></td>
            <td>30€/mois</td>
            <td>35€/mois</td>
            <td><button type="button" class="btn btn-xs btn-info">Commander</button></td>
          </tr>
          <tr>
            <td><span>Optimum</span></td>
            <td>35€/mois</td>
            <td>40€/mois</td>
            <td><button type="button" class="btn btn-xs btn-info">Commander</button></td>
          </tr>
          <tr>
            <td><span>Diesel</span></td>
            <td>40€/mois</td>
            <td>45€/mois</td>
            <td><button type="button" class="btn btn-xs btn-info">Commander</button></td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12 texte">
          <h1>Dans le détail</h1>
          <h3>Dans tous les forfaits</h3>
          Tous les forfaits d'entretien Dwiit® comprennent les révisions annuelles, le remplacement des pièces d'usures ainsi qu'une assistance en cas de panne. Votre budget
          est maitrisé et vous n'avez plus à renoncer à un entretien trop cher. L'entretien comprend entre autres les révision, les pneumatiques, le freinage, la distribuetion, l'échappement ainsi
          que les contrôles de pollution.
          <h3>Le forfait Dwivit® <span>Starter</span></h3>
          Le forfait Dwivit® <span>Starter</span> est le plus économique. Il est destiné aux véhicules essence de type Renault Twingo, Peugeot 107/108, Citroen C1,
          Toyota Aygo, Volkswagen Up!, Hyundai i10 et similaires. Ces véhicules très accessibles en occasion, sont idéaux pour une utilisation urbaine et péri-urbaine.
          Avec un forfait à partir de 30€ par mois, entretenir son véhicule n'a jamais été aussi accessible.
          <h3>Le forfait Dwivit® <span>Optimum</span></h3>
          Le forfait Dwivit® <span>Optimum</span> est destiné aux véhicules essence polyvalents de type Renault Clio, Peugeot 208, Citroen C3, Ford fiesta, Volkswagen Polo et similaires.
          Aussi à l'aise en ville que sur route, ces véhicules sont idéaux pour les jeunes conducteurs mobiles. Leur polyvalence rend ces véhicules particulièrement adaptés au covoiturage.
          Proposé à partir de 35€ par mois, ce forfait est la garantie d'avoir un véhicule toujours prêt à voyager en toute sécurité, seul ou avec vos covoitureurs.
          <h3>Le forfait Dwivit® <span>Starter</span></h3>
          Le forfait Dwivit® <span>Diesel</span> est proposé pour le même type de véhicule que Dwivit® <span>Optimum</span> à motorisation diesel, ceci à partir de 40€ par mois.
          Il ajoute un entretien spécialisé à ce type de moteurs, vous assurant une prévention
          des risques d'encrassement de votre moteur. Grâce à un écodiagnostique réalisé chaque année, nos techniciens euromasteur seront à même de mesurer l'encrassement de vos
          injecteurs et de votre filtre à particules, afin de les nettoyer si necessaire. Ceci vous permet d'éviter de lourdes pannes immobilisantes ainsi qu'une tendance du moteur à surconsommer.
          <h3>Les options</h3>
          Votre voiture est unique et vous ressemble ? Votre forfait Dwivit® aussi ! Vous pouvez personnaliser votre forfait Dwivit® en fonction de vos habitudes de conduite.
          Par exemple, vous pouvez souscrire à une offre de pneus toutes saisons ou de roues hiver. Par ailleurs, vous pouvez adapter votre forfait à la tailles de vos roues,
          ou encore ajouter une option contrôle technique.
      </div>
    </div>

<div class="row">
  <div class="bande">
    <p>Une gamme de services complète et des professionnels <span class="jaune">à votre écoute.</span></p>
  </div>
</div>

<div class="row">
  <div class="illustration">
    <img src="/assets/img/mechanic.jpg"/>
  </div>
</div>

<div id="services" class="row">
    <div class="col-md-12 texte">
        <h1>Nos différents services</h1>
        <h3>Une assitance</h3>
        Les forfaits d'entretien Dwivit® vous apportent bien plus que l'entretien courant de votre véhicule ! Pour tous les forfaits Dwivit®,
        deux types d'assistances vous sont offertes. Tout d'abord un assistance technique en cas de panne au borde de la route, puis une assistance
        téléphonique. L'assistance téléphonique vous permet d'entrer en relation avec des spécialistes Dwivit®, lesquels peuvent vous conseiller
        dans le choix d'un nouveau véhicule ou vous expliquer comment contrôler les niveaux de votre véhicule.
        <h3>Les pneumatiques</h3>
        Les pneumatiques sont un organe de sécurité essentiel sur votre véhicule. Eux seuls sont en contact avec la route. Les pneumatiques installés
        dans le cadre de votre forfait Dwivit® sont issus de grands manufacturiers, et vous assureront un excellent compromis entre tenue de route,
        consommation de carburant, et longévité.
        <h3>Le freinage</h3>
        Parcqu'il est inconcevable de différer un entretien du système de freinage pour des raisons de coût, Dwivit® inclus cet entretien dans ses forfaits.
        Les pièces (plaquettes, disques, et tambours) utilisés par Dwivit® respectent scrupuleusement le cahier des charges établi par le constructeur de votre
        voiture, et vous assureront le même niveau de sécurité qu'à l'origine.
        <h3>Les liaisons au sol</h3>
        Souvents négligés, les amortisseurs sont aussi des pièces d'usure qui nécessitent d'être changés au bout d'un certain kilométrage. En agissant ainsi,
        votre véhicule retrouvera ses qualités de tenue de route d'origine, même après un fort kilométrage. Et bien entendu, des liaisons au sol bien entretenues
        sont aussi gage de sécurité active.
        <h3>Les Révisions</h3>
        Les révisions de votre forfait Dwivit® incluent la vidange, le changement des bougies sur les moteurs essence ou le changement du filtre à gasoil
        sur les moteurs diesel. De plus, nos techniciens mettent à niveau les différents fluides du véhicule, et assurent 20 points de contrôle. Les essuis-glasses
        et le filtre d'habitacles font partie de ses contrôles et sont changés si besoin.
        <h3>Les contrôles de pollution</h3>
        Les forfaits Dwivit® s'inscrivent dans une logique de développement durable, en permettant aux voitures de plus de 3 ans de pouvoir rouler dans le meilleur
        état possible, le plus longtemps possible. C'est pourquoi nous réalisons des mesures de pollution sur tous les véhicules, et nous changeons les pièce du circuit
        d'échappement qui sont usagées.
        <h3>L'écodiagnostique</h3>
        Conçu pour les moteurs diesels modernes, en partenariat avec de grands équipementiers automobile, l'écodiagnostique permet de prévenir plutôt que de guérir.
        En effet, un nettoyage mécanique des injecteurs, de la vanne EGR ou du filtre à particule, permet à votre moteur diesel de mieux fonctionner, et vous épargne de coûteuses
        réparations.
        <h3>Tout le reste</h3>
        Les forfaits Dwivit® comprennent aussi le changement de votre distribution et de votre embrayage, souvent négligés car moins critiques que le freinage ou
        les pneumatiques, rouler avec une courroie de distribution ou un embryage usé vous expose à un risque de casse moteur et à des dysfonctionnements. Ces entretiens
        effectués à temps, votre voiture pourra rouler plus longtemps. Les forfaits Dwivit® pensent à tout ! Grâce à eux vous roulerez plus longtemps, et votre véhicule aura
        plus de valeur à la revente.
      </div>
    </div>

<div class="row">
  <div class="bande">
    <p>À <span class="jaune">proximité</span> de chez vous, <span class="jaune">partout</span> en Europe.</p>
  </div>
</div>

<div class="row">
  <div class="illustration">
    <img src="/assets/img/reseau.jpg"/>
  </div>
</div>

<div id="reseau" class="row">
    <div class="col-md-12 texte">
        <h1>Notre réseau</h1>
        <h3>Un réseau de professionnels partout en Europe</h3>
        Pour répondre à ses exigences, Dwivit® fait appel à un réseau reconnu partout en Europe pour la qualité de ses prestation.
        Grâce à Dwivit®, vous pouvez profiter de l'expertise et du réseau Euromaster® à prix comptétitif. Le tout au plus près de ches vous.
      </div>
  </div>

  <div  class="row">
    <div class="col-md-12 texte">
        <div class="templatemo_contactmap">
        <iframe width="950" height="900" frameborder="0" id= "iframe" scrolling="no" marginheight="0" marginwidth="0"
          src="http://centres.euromaster.fr/search#lf_search">
        </iframe>
        </div>
      </div>
  </div>

<div class="row">
  <div class="footer">
    <p>Copyright <span class="jaune">© 2015</span> Euromaster | Hackaton Michelin-ISIMA</p>
  </div>
</div>
