<ion-view view-title="A propos">
  <ion-content>
    <div class="list">
    	<div class="item">
    		<h2 class="header">L'équipe</h2>
    		<p>Alain LESAGE (marketting, design), Julien USSON (web service, site web), Valentin PARIS (application mobile)</p>
    	</div>
    	<div class="item">
    		<h2 class="header">Dwivit</h2>
    		<p>Adoptez une nouvelle façon d'avancer avec Dwivit !</p>
    	</div>
        <div class="item">
            <h2 class="header">Licence</h2>
            <p>Copyright © 2015 Euromaster | Hackaton Michelin-ISIMA</p>
        </div>
    </div>
  </ion-content>
</ion-view>
